R2_PUBLIC_URL="https://pub-example.r2.dev"
R2_ENDPOINT="https://xxxxxxx.r2.cloudflarestorage.com/xxxx"
R2_BUCKET_NAME="My-bucket-name"
R2_SECRET_ACCESS_KEY="YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY"
R2_ACCESS_KEY_ID="XXXXXXXXXXXXXXXXXXXX" 